In [5]:
import numpy as np
import random

# Slicing in Python

In [ ]:
x = [2,3,4,5]

print(x[-1])  #5  #  print last value stored in x
print(x[-4])  #2  #  print first value
print(x[0])   #2  #  print first value
print(x[3])   #5  #  print last value stored in x

print(x[:]) #[2, 3, 4, 5]
print(x[2:]) #[4, 5] #From index_2 (incluse) to the end
print(x[:2]) # [2, 3] # all before of index_2
print(x[1:4]) # [3, 4, 5]
print(x[1:4:2]) # [3, 5]

# Slicing in Numpy

In [ ]:

patterns_W1 = np.array([[72, 173], [54, 159], [65, 172], [58, 170],[62, 165], [72, 176], [60, 173], [64, 179]])

print(patterns_W1[:, 0]) #[72 54 65 58 62 72 60 64]
print(patterns_W1[0, 0]) #72
print(patterns_W1[:, 1]) #[173 159 172 170 165 176 173 179]

# Miscellaneous on Strings

In [3]:
#invert string
string = 'hello! this is a string 123'
print(string[::-1])
# "classic"  alternative
s1= ''
for i in range(1,len(string)+1):
  k = len(string)-i
  s1 = s1 + string[k]
print(s1)

321 gnirts a si siht !olleh
321 gnirts a si siht !olleh

In [ ]:
#repeat the string several times
print(string *5) 

#concatenate strings
s2 = string + "Now_? " + "63" + "\t" + "***"
print(s2) # hello! this is a string 123Now_? 63	***

#check in string 
x = "this" in string
print(x) #  True
x = "this" not in string
print(x) #  False

#Create a string of 10 randomly chosen characters from 'ABC&/()9'
s3 = ''.join([random.choice('ABC&/695+<>') for i in range(10)])
print(s3)

#string comprehension
numbers = [10,2,3,5,9]
st =  '°'.join(str(x) for x in numbers)
print(st) #out : 10°2°3°5°9

#Convert a string in a list of separate characters
l = list(string) 
print(l)
#['h', 'e', 'l', 'l', 'o', '!', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', '1', '2', '3']

In [11]:
#Given a string, the single words become elements of a list. 
#An optional argument called delimiter specifies which character should be considered as a word separator.
s4 = 'Ciao-sono-    Mario-^ ! ^'
deli = '-' # #you have a different output if you use: deli = ' '
l = s4.split(deli)
print(l)# out ['Ciao', 'sono', '    Mario', '^ ! ^']

#join is the inverse of split: list -> string
s5 = deli.join(l)
print(s5)
#print(type(s5)) #<class 'str'>

#creative use of .join
print("")
addresses=("Mr.Mario", "libero.com")
email='@'.join(addresses) 
email1 = '*'.join(email)  
email2 ='\n [...]'.join(addresses)
print(email,"\n\n",email1,"\n\n",email2)

['Ciao', 'sono', '    Mario', '^ ! ^']
Ciao-sono-    Mario-^ ! ^

Mr.Mario@libero.com

 M*r*.*M*a*r*i*o*@*l*i*b*e*r*o*.*c*o*m

 Mr.Mario
 [...]libero.com

In [13]:
#use of .replace
string = 'hello! this is a string 123'
string = string.replace('l','§').replace('2',' ')
print(string,"\n") 

# cleans the string making all characters lowercase
string1 = 'NOw,/is the=tIM<e> to"gO'
string1 =  string1.lower().replace("<", "").replace(">", "").replace("=", " ").replace("/", " ").replace('"', " ")
print(string1,"\n")

#Print string without going newline (end = "") up to a '1' terminator character
i=0
while  True:
    if (string[i]=='1'):
      break
    print(string[i],end=" ")
    i+=1

he§§o! this is a string 1 3

now, is the time to go

h e § § o !   t h i s   i s   a   s t r i n g

# Set

In [14]:
#Create an empty set 
sx = set()
print(type(sx))
sx.add("Ciao") #add element
print(sx)

<class 'set'>
{'Ciao'}

# Miscellaneous on Lists

In [15]:
# Given two list of integer, write a program  to  eliminate repetitions and make a list whose elements are intersection of the above given lists.
la = [1,1,2,3,3,24,78,78,35,55]
lb = [12,24,24,35,24,88,120,120,155]
set1=set(la)
set2=set(lb)
set3 = set1 & set2
li=list(set3)
print(li,"\n")

#alternative
set4 = set (i for i in la if i in lb) 
li1=list(set4)
print(li1)

[24, 35]

[24, 35]

In [ ]:
#Get a list of numbers as input from a user 
input_string = input('Enter elements of a list separated by space ')
print("\n")
user_list = input_string.split()
# print list
print('list: ', user_list)

In [17]:
#Modify list

g = ['Nicola 2Van','Lynn Hill','Frederick Austerlitz']

# add item
g[1] = 'Ursula Benni' # replaces Lynn Hill of with Ursula Benni
g.insert(1, 'Nack Irner') #  is inserted at index 1 (2th position)
g.insert(0, 'Primo Nino')  #  is inserted at index 0 (1th position)
g.append('Carlos De Mayo')
g.append('Elizabeth Peratrovich')
print(g,"\n")

#delete item
g.remove('Frederick Austerlitz') 
g.pop() # delete the last item : 'Elizabeth Peratrovich Z'
print(g)

#on the list
g.reverse() 
print(g) 
print("\n",g.index('Primo Nino'))

['Primo Nino', 'Nicola 2Van', 'Nack Irner', 'Ursula Benni', 'Frederick Austerlitz', 'Carlos De Mayo', 'Elizabeth Peratrovich']

['Primo Nino', 'Nicola 2Van', 'Nack Irner', 'Ursula Benni', 'Carlos De Mayo']
['Carlos De Mayo', 'Ursula Benni', 'Nack Irner', 'Nicola 2Van', 'Primo Nino']

 4

In [18]:
k = g[:] # copy list g. Note id(k) is different to id(g)

k = sorted(k, reverse = True) #reorders the list in reverse alphabetical order
print(k)

#Emptyn all list
k.clear()#The clear() method removes all items
print(k)

#Empty the list until the name 'Ursula Benni'
while 'Ursula Benni' in g:
    g.pop()
print(g)

['Ursula Benni', 'Primo Nino', 'Nicola 2Van', 'Nack Irner', 'Carlos De Mayo']
[]
['Carlos De Mayo']

In [22]:
#Enumerate list example

iter_example = ['Primo Nino', 'Nicola 2Van', 'Nack Irner', 'Ursula Benni', 'Frederick Austerlitz']
#print(enumerate(iter_example)) #<enumerate object at 0x7fd35723c640>

for idx, val in enumerate(iter_example):
   print(idx," ", val) 

print("\n---")

for idx, val in enumerate(iter_example,3): 
   print(idx," ", val) 
# Note : 
#list structure is not affected   
#print("\n",iter_example[3]) # Note : list structure is not affected

print("\n---")

#Note 
#Be careful to use in the loop of enumerated changes on the list such as pop (), del () or remove ():
for idx, val in enumerate(iter_example): # ok!
   if val == 'Ursula Benni':
     iter_example[idx] = '$'
print(iter_example)  

print("\n---")

for i,v in enumerate(iter_example): # Be care!
     print(i," ",v)
     iter_example.pop(1)
print(iter_example)

0   Primo Nino
1   Nicola 2Van
2   Nack Irner
3   Ursula Benni
4   Frederick Austerlitz

---
3   Primo Nino
4   Nicola 2Van
5   Nack Irner
6   Ursula Benni
7   Frederick Austerlitz

---
['Primo Nino', 'Nicola 2Van', 'Nack Irner', '$', 'Frederick Austerlitz']

---
0   Primo Nino
1   Nack Irner
2   Frederick Austerlitz
['Primo Nino', 'Frederick Austerlitz']

In [ ]:
# List comprehension 
#Syntax: [ output_expression - for (set value to iterate) - if (conditonal filter)] 
numbers = [x**3 for x in range(1,10+1)]
print(numbers) # [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

result = [n+7 for n in numbers if n % 2 == 0]
print(result) # [15, 71, 223, 519, 1007]

# Nested list - possible combinations
pair1 = [(j, k) for j in ("a" ,"b", " c") for k in ("1","2")]   
print(pair1) #[('a', '1'), ('a', '2'), ('b', '1'), ('b', '2'), (' c', '1'), (' c', '2')]

# Nested list to Flatten list : using comprehension
mylist = [[1, 2, 3], ["%", "$", "@"], ["A", "B"]]
ft = [i for sub in mylist for i in sub] 
print(ft) #[1, 2, 3, '%', '$', '@', 'A', 'B']

In [ ]:
#Given a filename (string) as input, this function returns a set of all words in which one of five vowels can be found.
def fwv(file_name):
     vowels = {'a', 'e', 'i', 'o', 'u'}
     file1 = open(file_name,"r") 
     p = file1.read()

     k = [j for j in p.split() for i in j if i in vowels] 
     k= list(set(k)) #to remove duplicated from list 
     return k

# Dictionary : collection of key-value pairs.

In [ ]:
d = {"Finland": 652, "Taiwan": 99099, "Japan": 41894,"Brazil": 35542}
print(len(d)) # 4

print(d["Japan"]) # 41894
print(d.get("Japan"))  # 41894

print('Finland' in d) # True
print(652 in d) # False
print(652 in d.values()) # True

print(d.items())  # dict_items([('Finland', 652), ('Taiwan', 99099), ('Japan', 41894), ('Brazil', 35542)])
print(d.keys())  # dict_keys(['Finland', 'Taiwan', 'Japan', 'Brazil'])
print(d.values())  # dict_values([652, 99099, 41894, 35542])

In [26]:
#Iteration with d.items() d.keys() d.values() 
for naz, num in d.items():
    #print(type(num),type(naz) ) #<class 'int'> <class 'str'>
    print(f"{naz.title()} lost {num / 100} €.")

for n in d.keys():
    print(f" - {n.title()}")  

for n in d.values():
    print(f"\t* {n}")

Finland lost 6.52 €.
Taiwan lost 990.99 €.
Japan lost 418.94 €.
Brazil lost 355.42 €.
 - Finland
 - Taiwan
 - Japan
 - Brazil
	* 652
	* 99099
	* 41894
	* 35542

In [27]:
#Cast d.keys() d.values() in a list
dll = list(d.keys()) 
print(dll) 
dnl = list(d.values())
print(dnl)

['Finland', 'Taiwan', 'Japan', 'Brazil']
[652, 99099, 41894, 35542]

In [28]:
#Delete a key-value pair in dictionary
del d["Japan"] # out {'Finland': 652, 'Taiwan': 99099, 'Brazil': 35542}

In [34]:
#Merge  of dictionary           
d = {"Finland": 652, "Taiwan": 99099, "Japan": 41894,"Brazil": 35542}
d1 = {'a':1, 'b':2, 'c':3}
all_keys = d1.keys() | d.keys() # NOTE : | Bitwise Or
print("All keys: ",all_keys,"\n") 
d_merge = {}
for key in all_keys:
      d_merge[key] = [d.get(key), d1.get(key)] 
print(d_merge)

All keys:  {'b', 'a', 'Finland', 'c', 'Taiwan', 'Brazil', 'Japan'}

{'b': [None, 2], 'a': [None, 1], 'Finland': [652, None], 'c': [None, 3], 'Taiwan': [99099, None], 'Brazil': [35542, None], 'Japan': [41894, None]}

In [35]:
#Manipulate dictionary 
print(d_merge) 
d_merge['Cambogia'] = d_merge.pop('a') # delete pair key-value in dictionary and put its content(the  value) 
# at the end with a new name
print(d_merge,"\n") 

d_merge['Taiwan'] = 900094  # New value in key 'Taiwan'
del d_merge['b']  # delete an Key-Value Pair 'b'
d_merge['e'] = 4  #add New Key-Value Pair To Dictionary 
print(d_merge,"\n")

d_merge.clear()#The clear() method removes all items from the dictionary.
print(d_merge)

{'b': [None, 2], 'a': [None, 1], 'Finland': [652, None], 'c': [None, 3], 'Taiwan': [99099, None], 'Brazil': [35542, None], 'Japan': [41894, None]}
{'b': [None, 2], 'Finland': [652, None], 'c': [None, 3], 'Taiwan': [99099, None], 'Brazil': [35542, None], 'Japan': [41894, None], 'Cambogia': [None, 1]}

{'Finland': [652, None], 'c': [None, 3], 'Taiwan': 900094, 'Brazil': [35542, None], 'Japan': [41894, None], 'Cambogia': [None, 1], 'e': 4}

{}

In [31]:
#Flipped dict : The output dict's keys are the input dict's values, and vice versa
drio = {'a':1, 'b':2, 'c':"!", 'd':4}
flip_drio = {v: k for k,v in drio.items() }    
print(flip_drio)

{1: 'a', 2: 'b', '!': 'c', 4: 'd'}

In [37]:
# Dictionary of dictionary
# Create a dictionary of  dictionary
from operator import itemgetter

def name():
  n = random.choice(['François Truffaut', 'Abdul ah Ciabat ','Pinò ou Poisson','Richard the Lionheart','Yes Wecan'])
  k = random.choice('123456879')
  k1 = random.choice('§M¼A&çKLGY%')
  return n + " "+ k + k1

def place():
  p = random.choice(["France","Taiwan","Japan","Romania","Canada"])
  return p 

d = {}
c = 1
while c < 5 :
  n = name()
  d[n] = {} # key ->  n : value ->  dict {}
  #Adding items in a Sub-Dictionary
  d[n]['Birth place'] = place()
  d[n]['Birth weight'] = random.randint(12, 36)
  c +=1

print(d,"\n")

for i,v in d.items():
      print(i) # name
      for j,k in v.items(): # sub-dictionary
           print("\t"," ",j," : ",k)

s = 0 
for i in (d):
  s = s + (d[i]['Birth weight'])
print("\n Sum of total weights",s)

{'Richard the Lionheart 8A': {'Birth place': 'Taiwan', 'Birth weight': 34}, 'Pinò ou Poisson 6&': {'Birth place': 'Japan', 'Birth weight': 28}, 'Richard the Lionheart 4K': {'Birth place': 'Romania', 'Birth weight': 24}, 'Abdul ah Ciabat  4K': {'Birth place': 'Canada', 'Birth weight': 27}}

Richard the Lionheart 8A
	   Birth place  :  Taiwan
	   Birth weight  :  34
Pinò ou Poisson 6&
	   Birth place  :  Japan
	   Birth weight  :  28
Richard the Lionheart 4K
	   Birth place  :  Romania
	   Birth weight  :  24
Abdul ah Ciabat  4K
	   Birth place  :  Canada
	   Birth weight  :  27

 Sum of total weights 113

In [41]:
# Sort a dictionary:   
ld1 = sorted(d.items())      
print(ld1,"\n")

ld2 = sorted(d.values(), key=itemgetter('Birth weight'))  
print(ld2)

[('Abdul ah Ciabat  4K', {'Birth place': 'Canada', 'Birth weight': 27}), ('Pinò ou Poisson 6&', {'Birth place': 'Japan', 'Birth weight': 28}), ('Richard the Lionheart 4K', {'Birth place': 'Romania', 'Birth weight': 24}), ('Richard the Lionheart 8A', {'Birth place': 'Taiwan', 'Birth weight': 34})]

[{'Birth place': 'Romania', 'Birth weight': 24}, {'Birth place': 'Canada', 'Birth weight': 27}, {'Birth place': 'Japan', 'Birth weight': 28}, {'Birth place': 'Taiwan', 'Birth weight': 34}]